@import url('https://fonts.googleapis.com/css?family=Gruppo|Rajdhani:500&display=swap');

body{
    font-family: 'Rajdhani', sans-serif;
}

.about-body{
    color: aliceblue;
}
.skills{
    margin-top: 10%;
}

.skills hr{
    margin-top: -4%;
    border-color: rgb(98, 98, 98)
}
.skills p{
    text-align: end;
    padding-right: 5%
}
#intro-text{
    margin-top: 10%;
    text-align: right;
    font-size: 16px;
}

