@import url('https://fonts.googleapis.com/css?family=Gruppo|Rajdhani:500&display=swap');

body{
    font-family: 'Rajdhani', sans-serif;
}

.about-body{
    color: aliceblue;
}
.skills{
    margin-top: 10%;
}

.skills hr{
    margin-top: -4%;
    border-color: rgb(98, 98, 98)
}
.skills p{
    text-align: end;
    padding-right: 5%
}
#intro-text{
    margin-top: 5%;
    text-align: justify;
    font-size: 16px;
}



@media only screen and (max-width: 370px) {
    .about-body{
    }
    #about-me-head-img{
        margin-left: 16% !important;
        margin-top: 15% !important;
    }
    .skills p{
        text-align: left;
    }
    .padding-on-small-screen{
        padding: 5%;
    }
    .testimonial-cards{
        margin-top: 20%;
    }
  }

