body{
    overflow-x: hidden !important;
}
.post-card-container{
    border: 10px solid #0E1111 !important;
    transition: all .1s ease-in-out;
    font-size: 150%;
    border-radius: 20px;
}

.post-card-container:hover{
    border-left: 15px dotted #0E1111 !important;
    border-right: 15px dotted #0E1111 !important;
}
.post-card-main{
    background-color: #0E1111;    
}
#post-date{
    color: rgb(149, 149, 149);
}

@media only screen and (min-width: 800px ){
    .post-card-container{
        margin-left: 5% !important;
    }
}

@media only screen and (min-width: 450px ){
    .post-card-container{
        margin-left: 20%;
    }
}
@media only screen and (max-width: 450px ){
    .post-card-container{
        margin: 5%;
    }
}