.post-cards{
    border: 10px solid black !important;
    transition: all .7s ease-in-out;
    font-size: 150%;
    margin-left: 10%;
}

.post-cards:hover{
    border-top: 5px dotted black !important;
}

@media only screen and (min-width: "400px"){
    .post-cards{
        margin-left: -100% !important;
    }
}